@import "../../../../../scss/grid";
@import "../../../../../scss/material-styling";
// @import "../../../../../scss/reset";



.page-change-password {
    width: 400px;
    max-width: 100%;
}
.btn-wrap{
    gap: 15px;
}
.btn-cover {
    justify-content: center;
}

:host ::ng-deep .passwordFormField {
    .mat-icon {
        img {
            width: 100%;
        }
    }

    .mat-form-field-suffix {
        top: 7px !important;
    }
}

.change-password-wrap {
    padding: 50px;
}