<div class="change-password-wrap">
  <form [formGroup]="changePasswordForm" (ngSubmit)="submitHandler()">
    <div class="row">
      <div class="col-12">
        <div class="form-in">
          <label class="form-label">Old Password<span class="required">*</span></label>
          <mat-form-field appearance="outline" class="passwordFormField md">
            <input autocomplete="off" #oPass matInput placeholder="Old Password" required formControlName="oldPassword"
              [maxlength]="limit.MAX_PASSWORD_LENGTH" [type]="hide ? 'password' : 'text'"
              (keydown.space)="$event.preventDefault()" (input)="resetControlError()" (blur)="onBlur()" />
            <mat-icon class="pointer" matSuffix (click)="hide = !hide">
              <img [src]="
                    hide
                      ? 'assets/images/svg/password-hide.svg'
                      : 'assets/images/svg/password-show.svg'
                  " alt="eye icon" />
            </mat-icon>
            <mat-error>{{
              changePasswordForm | errorMessage : 'oldPassword' : "Password"
              }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-in">
          <label class="form-label">New Password<span class="required">*</span></label>
          <mat-form-field appearance="outline" class="passwordFormField md">
            <input autocomplete="off" #pass matInput placeholder="Your Password" required formControlName="password"
              [maxlength]="limit.MAX_PASSWORD_LENGTH" [type]="hide1 ? 'password' : 'text'"
              (keydown.space)="$event.preventDefault()" (input)="resetControlError()" (blur)="onBlur()" />
            <mat-icon class="pointer" matSuffix (click)="hide1 = !hide1">
              <img [src]="
                    hide1
                      ? 'assets/images/svg/password-hide.svg'
                      : 'assets/images/svg/password-show.svg'
                  " alt="eye icon" />
            </mat-icon>
            <mat-error>{{
              changePasswordForm | errorMessage : 'password' : "New Password"
              }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-in">
          <label class="form-label">Confirm New Password<span class="required">*</span></label>
          <mat-form-field appearance="outline" class="passwordFormField md">
            <input autocomplete="off" #cPass matInput placeholder="Confirm Your Password" required
              formControlName="confirmPassword" [maxlength]="limit.MAX_PASSWORD_LENGTH"
              [type]="hide2 ? 'password' : 'text'" (keydown.space)="$event.preventDefault()" />
            <mat-icon class="pointer" matSuffix (click)="hide2 = !hide2">
              <img [src]="
                    hide2
                      ? 'assets/images/svg/password-hide.svg'
                      : 'assets/images/svg/password-show.svg'
                  " alt="eye icon" />
            </mat-icon>
            <mat-error>{{
              changePasswordForm | errorMessage : 'confirmPassword' : "Confirm Password"
              }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- <p class="info-text">
        <img src="assets/images/svg/info-icon.svg" role="presentation" />
        <span></span>
      </p> -->
    <div class="btn-wrap">
      <app-button [btnLabel]="customButtonConst.CANCEL" (buttonClickEvent)="navigateToDashboard()"></app-button>
      <app-button [cssClasses]="'active'" [btnLabel]="customButtonConst.btnSubmit | titlecase" [isDisabled]="
          changePasswordForm.invalid || !changePasswordForm.dirty
        " (buttonClickEvent)="submitHandler()"></app-button>
    </div>
  </form>
</div>