<div class="page-profile-detail">
  <div class="heading-sec">
    <h2>Profile Detail</h2>
    <button
      type="submit"
      class="btn btn-outline btn-primary-outline btn-sm w-auto"
      mat-stroked-button
      (click)="updateAdminDetails()"
    >
      Edit
    </button>
  </div>

  <div class="flex-row">
    <label class="form-label">Profile Image</label>
    <div class="col-left">
      <div class="profile_image_wrapper border-img">
        <app-lazy-image
          class="profile-img"
          [img]="
            storage?.profileDetail?.profilePicture
              ? storage.profileDetail.profilePicture
              : 'assets/images/user_placeholder.jpg'
          "
        >
        </app-lazy-image>
      </div>
    </div>
  </div>
  <div class="col-right">
    <div class="form-in">
      <label class="form-label"
        >{{
          storage.profileDetail.userType === adminTypes.ADMIN
            ? "Super Admin"
            : "Sub-Admin"
        }}
        Name*</label
      >
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Super Admin Name "
          required
          [value]="storage.profileDetail?.name | titlecase | emptyValue"
          disabled
        />
      </mat-form-field>
    </div>
    <div class="form-in">
      <label class="form-label">Email Address</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Email "
          required
          [value]="storage.profileDetail?.email | emptyValue"
          disabled
        />
      </mat-form-field>
    </div>
    <div class="form-in">
      <label class="form-label">Created On</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="created on"
          required
          [value]="storage.profileDetail?.created | emptyValue | date: dateType.DATE_TIME_WITH_COMMA_SEP"
          disabled
        />
      </mat-form-field>
    </div>
    <div class="form-in">
      <label class="form-label">Role</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Role "
          required
          [value]="storage.profileDetail?.userType | emptyValue |userType"
          disabled
        />
      </mat-form-field>
    </div>
  </div>
</div>
