<div class="page-login">
  <h1 class="page-name">Forgot Your Password?</h1>
  <p class="description">
    Enter the email address associated with your registered account and we will
    send a verification link to reset your password.
  </p>
  <form
    class="form-field"
    [formGroup]="forgotForm"
    (ngSubmit)="forgotValidation()"
  >
    <div class="form-in">
      <mat-label class="form-label">Email Address*</mat-label>
      <mat-form-field appearance="outline">
        <input
          #email
          matInput
          type="email"
          placeholder="Enter Email Address"
          (blur)="removeSpace(this.forgotForm.value, this.frmCtrl)"
          [prevent-keys]="[32]"
          [maxlength]="limit.MAX_EMAIL_LENGTH"
          [formControlName]="stringConst.EMAIL"
          autocomplete="off"
          required
        />
        <mat-error>{{
          forgotForm | errorMessage : this.stringConst.EMAIL : "Email"
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="btn-cover">
      <app-button
        [btnType]="customButtonConst.btnSubmit"
        btnLabel="{{ customButtonConst.btnSubmit | titlecase }}"
        [cssClasses]="'login'"
        (buttonClickEvent)="forgotValidation()"
        [isDisabled]="actionInProgress || forgotForm.invalid || !isSubmitButtonEnabled"
        [isActionInProgress]="actionInProgress"
      ></app-button>
    </div>
    @if (delayTime) {
      <div class="delay-error">
        <mat-error>
          Please try again in {{ (delayTime/1000) }} seconds
        </mat-error>
      </div>
    }
    <div class="back-links">
      <a class="simple_btn link" [routerLink]="['LOGIN' | absoluteRoute]"
        >Back to login</a
      >
    </div>
  </form>
</div>
