@import "../../../../../scss/var";
@import "../../../../../scss/mix";
@import "../../../../../scss/material-styling";
// @import "../../../../../scss/reset";

:host {
    @import "../../accounts.component.scss";
}

.page-login {
    h1 {
        &.page-name {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: 700;
            line-height: 30.12px;
            text-align: left;
            color: $black;
        }
    }

    .description {
        margin: 0 0 29px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20.08px;
        color: #000000;
        opacity: 0.4;
    }
}

.btn-cover {
    padding-top: 10px;

    button {
        width: 100%;
    }
}

.back-links {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: $black;
        cursor: pointer;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 17.57px;
    }
}

.form-label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
}

:host ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
        margin: 5px 0 !important;
    }
}

.delay-error {
    font-family: Mulish;
    font-size: 15px !important;
    font-weight: 600;
    line-height: 18.83px;
    letter-spacing: 0.6800000071525574px;
    margin-top: 20px;
    text-align: center;
}