<div class="btn-add">
  @if (isAddEditAccess) {
  <app-button [cssClasses]="'active'" [buttonWidth]="'200px'" [buttonHeight]="'48px'" [buttonRadius]="'6px'"
    [btnLabel]="customButtonConst.ADD_NOTIFICATION" (buttonClickEvent)="navigateToAddNotification()"></app-button>
  }
</div>
<div class="table-outer">
  <mat-table-render class="mat_table" notFound="No Result Found" [listType]="'Notification'" [heading]="heading"
    [showSearch]="true" [showFilter]="true" [filterRedDot]="filterRedDot" [placeholder]="placeholderText"
    [getFilterValue]="checkFormValue" (filter)="filterApply($event)" (status)="changeStatus($event)" 
    (edit_route)="onView($event.element._id)" (find)="paginationWithSearch($event, 0)"
    (page)="paginationWithSearch($event, 1)" (pomEvent)="onView($event)">
    <div role="filter">
      <form [formGroup]="filterForm" class="filterForm">
        <!-- <mat-accordion> -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h4 class="date-label">
              <figure>
                <img alt="status" src="../../../../../assets/images/filter/done.svg" />
              </figure>
              <span> Users </span>
            </h4>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            @for (type of users; track type) {
              <div>
                <mat-checkbox
                  [value]="type.value"
                  (change)="onCheckboxChange($event)"
                  >{{ type.label }}</mat-checkbox
                >
              </div>
              }
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h4 class="date-label">
              <figure>
                <img alt="filter_logo" src="../../../../../assets/images/filter/calendar.svg" />
              </figure>
              <span> Added On </span>
            </h4>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div class="date-wrap">
              <mat-form-field appearance="outline" class="date-field">
                <mat-date-range-input [rangePicker]="picker" [dateFilter]="unavailableDates">
                  <input readonly matStartDate autocomplete="off" placeholder="Select From" formControlName="fromDate"
                    (dateChange)="subscribeToFilterFormChanges()" (keydown)="dateInput($event)" />
                  <input readonly matEndDate autocomplete="off" placeholder="To Date" formControlName="toDate"
                    (keydown)="dateInput($event)" (dateChange)="subscribeToFilterFormChanges()" />
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </ng-template>
        </mat-expansion-panel>
        <!-- </mat-accordion> -->
      </form>
    </div>
  </mat-table-render>
</div>