<div class="btn-add">
  @if (isAddEditAccess) {
  <app-button [cssClasses]="'active'" [buttonWidth]="'200px'" [buttonHeight]="'48px'" [buttonRadius]="'6px'"
    [btnLabel]="customButtonConst.ADD_SUBADMIN" (buttonClickEvent)="add()"></app-button>
  }
</div>
<div class="table-outer">
<mat-table-render 
class="mat_table"
notFound=" No record found! "
cls="{{permissionClass}}"
[heading]="heading"
[placeholder]="placeholderText"
componentName="Roles"
[showSearch]="true"
[showFilter]="true"
[filterRedDot]="filterRedDot"
[Export]="false"
[getFilterValue]="checkFormValue"
[isSubAdmin]="true"
[listType]="'Sub Admin'"
(find)="paginationWithSearch($event, 0)"
(page)="paginationWithSearch($event, 1)"
(status)="changeStatus($event)"
(sort)="sortByListing($event)"
(filter)="filterApply($event)" 
(edit_route)="edit($event)">
<div role="filter">
  <form [formGroup]="filterForm" class="filterForm">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4 class="date-label">
          <figure>
            <img alt="status" src="../../../../../assets/images/filter/status.svg" />
          </figure>
          <span> Status</span>
        </h4>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-radio-group formControlName="status" (change)="subscribeToFilterFormChanges()" color="primary"
          labelPosition="after" class="my-radio-group">
          <mat-radio-button [value]="'UN_BLOCKED'" class="my-radio-button"><span
              class="pointer">Active</span></mat-radio-button>
          <mat-radio-button [value]="'BLOCKED'" class="my-radio-button"><span
              class="pointer">Inactive</span></mat-radio-button>
        </mat-radio-group>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h4 class="date-label">
          <figure>
            <img alt="filter_logo" src="../../../../../assets/images/filter/calendar.svg" />
          </figure>
          <span> Added On </span>
        </h4>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-form-field appearance="outline" class="date-field">
          <mat-date-range-input [rangePicker]="picker" [dateFilter]="unavailableDates">
            <input matStartDate placeholder="Select From" formControlName="fromDate" readonly
              (dateChange)="this.subscribeToFilterFormChanges()" (keydown)="dateInput($event)" autocomplete="off" />
            <input matEndDate placeholder="To Date" formControlName="toDate" readonly (keydown)="dateInput($event)"
              (dateChange)="this.subscribeToFilterFormChanges()" autocomplete="off" />
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </ng-template>
    </mat-expansion-panel>
  </form>
</div>
</mat-table-render>
</div>
