@import "../../../../../scss/var";
@import "../../../../../scss/mix";
@import "../../../../../scss/material-styling";

:host {
    @import "../../accounts.component.scss";
}

.btn-cover {
    padding-top: 20px;

    button {
        width: 100%;
    }
}

.page-login {
    h1 {
        &.page-name {
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: 700;
            line-height: 30.12px;
            text-align: left;
            color: $black;
        }
    }

    .description {
        margin: 0 0 29px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.08px;
        color: #000000;
        opacity: 0.4;
    }
}

.back-links {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: $black;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
    }
}

.form-label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
}

// info-text-css
.info-text {
    margin-top: 5px;
    @include flex(flex-start, inherit);
    font-size: 12px;
    line-height: 16px;
    color: $labelColor;

    &.error {
        color: $error;

        img {
            filter: invert(53%) sepia(98%) saturate(7491%) hue-rotate(352deg) brightness(99%) contrast(86%);
        }
    }

    span {
        margin-left: 8px;
    }
}