<div class="page-login">
  <h1 class="page-name"> {{ isSubAdmin ? 'Create Sub-Admin Password' : 'Reset Password' }}</h1>
  <p class="description">
    {{ isSubAdmin ? 'Set a password for your account so you can log in and access administration.' : 'Set the new password for your account so you can login and access all the features.'}}
  </p>
  <form
    class="form-field"
    [formGroup]="resetForm"
    (ngSubmit)="resetValidations()"
  >
    <div class="form-in">
      <mat-label class="form-label">New Password*</mat-label>
      <mat-form-field appearance="outline">
        <input
          #pass
          matInput
          required
          autocomplete="off"
          placeholder="Enter Password"
          [formControlName]="stringConst.PASSWORD"
          [maxlength]="limit.MAX_PASSWORD_LENGTH"
          [type]="isPasswordHinnen ? 'password' : 'text'"
          (keydown.space)="$event.preventDefault()"
          (input)="resetControlError()"
          (blur)="removeSpace(this.resetForm.value, this.frmCtrl); onBlur()"
        />
        <mat-icon
          class="pointer"
          matSuffix
          (click)="isPasswordHinnen = !isPasswordHinnen"
        >
          <img
            [src]="
              isPasswordHinnen
                ? 'assets/images/svg/password-hide.svg'
                : 'assets/images/svg/password-show.svg'
            "
            alt="eye icon"
          />
        </mat-icon>
        <mat-error>{{
          resetForm | errorMessage : stringConst.PASSWORD : "Password"
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-in">
      <mat-label class="form-label">Confirm Password*</mat-label>
      <mat-form-field appearance="outline">
        <input
          autocomplete="off"
          #cPass
          matInput
          required
          placeholder="Enter Password"
          [formControlName]="stringConst.CONFIRM_PASSWORD"
          [maxlength]="limit.MAX_PASSWORD_LENGTH"
          (keydown.space)="$event.preventDefault()"
          [type]="isConfirmPasswordHidden ? 'password' : 'text'"
          (blur)="removeSpace(this.resetForm.value, this.frmCtrl)"
        />
        <mat-icon
          class="pointer"
          matSuffix
          (click)="isConfirmPasswordHidden = !isConfirmPasswordHidden"
        >
          <img
            [src]="
              isConfirmPasswordHidden
                ? 'assets/images/svg/password-hide.svg'
                : 'assets/images/svg/password-show.svg'
            "
            alt="eye icon"
          />
        </mat-icon>
        <mat-error>{{
          resetForm | errorMessage : stringConst.CONFIRM_PASSWORD : "Password"
        }}</mat-error>
      </mat-form-field>
      <p class="info-text">
        <img src="assets/images/svg/info-icon.svg" role="presentation" />
        <span>{{ passwordErrorMessages.PASSWORD_INFO }}</span>
      </p>
    </div>
    <div class="btn-cover">
      <app-button
        [btnType]="customButtonConst.btnSubmit"
        btnLabel="{{ customButtonConst.btnSubmit | titlecase }}"
        [cssClasses]="'login'"
        (buttonClickEvent)="resetValidations()"
        [isDisabled]="actionInProgress || resetForm.invalid"
        [isActionInProgress]="actionInProgress"
      ></app-button>
    </div>
    <div class="back-links">
      <a class="simple_btn link" [routerLink]="['LOGIN' | absoluteRoute]"
        >Back to login</a
      >
    </div>
  </form>
</div>
