<div class="page-login">
  <div class="header">
    <h1 class="text-black bold mb-10">Congratulations!</h1>
    <img class="popperImg" src="/assets/images/popper.png" alt="popper">
  </div>
  <p class="onboarding-para">
    You have successful reset your password. You can now use your new password to login into your account.</p>
  <div class="btn-cover">
    <button type="button" mat-stroked-button class="btn btn-primary"
      [routerLink]="['ABS_ACCOUNT_LOGIN' | absoluteRoute]">
      Back to Sign In
    </button>
  </div>
</div>