@import "../../../../../scss/var";
@import "../../../../../scss/mix";

:host {
    @import "../../accounts.component.scss";
}
.page-login{
    padding-top: 30px;

}
.btn-cover {
    padding-top: 30px;
}
.header{
    display: flex;
    gap: 10px;
    .popperImg{
        width: 25px;
        height: 25px;
        margin-top: -1px;
    }
}
