$layoutBg: #edf0f2;
$inputBorder: #a5a5a5;
$scripsBg: #f5f5f5;

$red: #ff5722;
$inactive: #BC0101;
$inactiveLight: #FF0000;
$green: #4aaf39;
$info: #717272;
$lightGray: #eaeaea;
$warning: #ffc107;
$warn: #f44336;
$error: #ce0101;
$success: #0d8c69;

$lightblack: #0c0a35;
$gray: #979797;
$regentGray: #8d98a1;
$silver: #c7c9cb;
$textColor: #333333;
$alto: #d3d3d3;
$darkGray: #585858;
$seaGreen: #08575b;
$purple: #3e3f5e;
$bgWhite: #f9f9f9;
$lightGrey: #93a1b5;

$white: #ffffff;
$black: #000000;

$primary: #00796B;
$primaryDark: #00796B;
$primaryLight: #00796B;
$primaryGreen: #00796B;
$primaryLightGray: #00796B4D;
$primaryGreenGray: #00796B;

$lightBlue: #f4faff;
$blueLabel: #2d2e2e;
$bodyColor: #77829d;
$textColor: #222222;
$secondaryText: #454c58;
$lightTextColor: #6a6c72;
$inputColor: #454c58;
$borderColor: #cedceb;
$labelColor: #727272;
$subText: #646464;
$subTextLight: #cecfcf;
$borderGray: #ececec;
$borderLight: #e4e4e4;
$disableTextColor: #909090;
$inputBorderColor: #454c58;
$titleColor: #183b56;
$titleInfoColor: #77829d;
$lightInfoText: #5a7184;
$bgColor: #f6f7f8;
$overlayColor: rgba(0, 0, 0, 0.3);
$placeHolderText: rgba(69, 76, 88, 0.6);
$dragDropColor: rgba(158, 158, 158, 0.3);

$disableBg: #e4e5e7;

$warn: #fe9820;
$error: #eb3026;
$failureErrorBg: #e90e0e;
$danger: #f44336;
$success: #28c879;
$gray: #979797;
$scroller: #d9d9d9;
$bgLightColor: #f7f7f7;

$fontHairline: "mont_hairline";
$fontThin: "mont_thin";
$fontExtraLight: "mont_extralight";
$fontLight: "mont_light";
$fontBook: "mont_book";
$font: "mont";
$fontSemiBold: "mont_semibold";
$fontBold: "mont_bold";
$fontHeavy: "mont_heavy";
$fontBlack: "mont_black";
$fontHairline: "mont_hairline_italic";
$fontThinItalic: "mont_thin_italic";
$fontLightItalic: "mont_light_italic";
$fontExtraLightItalic: "mont_extraLight_italic";
$fontBookItalic: "mont_book_italic";
$fontItalic: "mont_italic";
$fontSemiBoldItalic: "mont_semibold_italic";
$montBlackItalic: "mont_black_italic";
$montBoldItalic: "mont_bold_italic";

$trans: cubic-bezier(0.29, 0.89, 0.65, 0.72)