<div class="page-login">
  <!-- <div class="successfully-image-wrap">
    <figure>
      <img src="assets/images/svg/tic-icon.svg" aria-label="Tick Image" />
    </figure>
  </div> -->
  <h1 class="text-black bold mb-10">Reset Link</h1>
  <p class="onboarding-para">
    The verification link email has been sent to your registered email ID. Please follow the instructions to reset your password
  </p>
  <div class="btn-cover">
    <button type="button" mat-stroked-button class="btn btn-primary"
      [routerLink]="['ABS_ACCOUNT_LOGIN' | absoluteRoute]">
      Back to Log In
    </button>
  </div>
</div>